SETTLEKIT_DATABASE_URL=
SETTLEKIT_RPC_URL=
SETTLEKIT_RPC_FALLBACK_URL=
SETTLEKIT_START_BLOCK=0
SETTLEKIT_LISTEN_ADDRESS=127.0.0.1:8080
SETTLEKIT_CHAIN_ID=
SETTLEKIT_ESCROW_ADDRESS=
SETTLEKIT_TOKEN_ADDRESS=
SETTLEKIT_CONFIRMATIONS=
SETTLEKIT_MAX_REORG_DEPTH=
SETTLEKIT_MERCHANT_API_TOKEN=
SETTLEKIT_OPERATOR_API_TOKEN=
SETTLEKIT_WEBHOOK_URL=
SETTLEKIT_WEBHOOK_SECRET=
